:root{
    --border-image-url: ''
}
.RootContainer{
    height: 100%;
    margin: 0 8px 0 8px;
    max-width: 70vw;
}
.ImagePaneContainer, .InfoPaneContainer{
    padding: 16px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.IconContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
@media(max-width: 900px){
    .RootContainer{
        margin: 0;
        max-width: 100vw;
    }
    .ImagePaneContainer{
        margin: auto;
        padding: 8px;
    }
}
