.RootContainer{
    padding: 0 16px 0 16px!important;
    min-height: 100%;
}
.ImagePaneContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.InfoPaneContainer{
    display: flex;
    justify-content: center;
}