:root{
    --border-image-url: ''
}
.RootContainer{
    min-height: 100%;
    margin: 0 16px 0 16px;
}
.ImagePaneContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-left: 50px solid;
    border-right: 50px solid;
    border-image-source: var(--border-image-url);
    border-image-slice: 0 120;
}
.IconContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.InfoPaneContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
@media(max-width: 900px){
    .RootContainer{
        margin: 0;
    }
    .ImagePaneContainer{
        border-left: 32px solid;
        border-right: 32px solid;
    }
    .InfoPaneContainer{
        margin: auto;
    }
}
