
.RootContainer{
    padding: 8px;
    width: 100%;
}
.TextContainer{
    padding: 16px;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Header{
    border-bottom: 2px solid #FFECB3;
}
.Text{
    padding-bottom: 16px;
}
.Text::first-letter{
    color: #666;
    font-size: 2.5rem;
}
