.RootContainer{
    display: flex;
    justify-content: flex-start;
    padding: 8px;
}
.PriceContainer{
    display: flex;
    justify-content: flex-end;
}
.Header{
    justify-content: center!important;
    margin: 0 8px 0 8px!important;
}
@media(min-width: 900px){
    .RootContainer{
        max-width: 50vw;
    }
}
