.Container{
    margin: 0 32px 32 32px ;
    padding: 0 16px 0 16px;
}
.HeaderContainer{
    height: 3rem;
}
.HeaderTitle{
    text-align: center;
    margin-bottom: 0;
}
.HeaderSubtitle{
    font-size: 0.8rem;
    text-align: center;
}