.RootContainer{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.Image{
    overflow: hidden;
    max-width: 100%;
    min-height: 100%;
}
