:root{
    --wave-bg-lg: '';
    --wave-bg-sm: '';
}
.RootContainer{
    min-height: 100vh!important;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #ccc;
    
}
.BrandImage{
    border-radius: 20%;
    width: 300px;
}

.Content{
    padding-top: 32px;
    padding-bottom: 100px;
    min-height: 50vh!important;
    background: var(--wave-bg-sm) top no-repeat ; 
    background-size: 100vh;
    display: flex;
    justify-content: center;

}
.Sticky{
    position: fixed!important;
    top: 0!important;
}
.AddPadding{
    padding-top: 60px;
}
.Footer{
    height: 80px;
    clear: both;
    background-color: #eee;
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px 0 16px;
}
.Footer img{
    height: 3em;
    margin-right: 16px;
}
