.RootContainer{
    background-color: #aaa;
}

.RootContainer{
    background-color:transparent;
    min-height: 100%!important;
    height: 100%!important;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.BrandImage{
    border-radius: 100%;
    box-shadow: 4px 4px 4px #ccc;
}

.Content{
    padding-top: 32px;
    padding-bottom: 32px;
    height: 100%
}
.Sticky{
    position: fixed!important;
    top: 0!important;
}
.AddPadding{
    padding-top: 60px;
}
