.RootContainer{
    background-color: #aaa;
}

.RootContainer{
    min-height: 100vh!important;
    height: 100%!important;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: 
        linear-gradient(to bottom right,#666, 10%, #ccc, 90%, #FFECB3)!important;
}
.BrandImage{
    border-radius: 100%;
    box-shadow: 4px 4px 4px #ccc;
}

.Content{
    padding-top: 32px;
    padding-bottom: 60px;
    height: 100%
}
.Sticky{
    position: fixed!important;
    top: 0!important;
}
.AddPadding{
    padding-top: 60px;
}
.Footer{
    height: 40px;
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 16px 0 16px;
}
