
.Text{
    font-weight: 1000;
    font-size: 80px!important;
    font-style: italic;
    color: #333;
    font-family: 'Amatic SC','-apple-system','BlinkMacSystemFont', "Oswald", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
}