
.Button{
    margin: 0 16px 0 16px!important;
}
.Toolbar{
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 100%;
}
.Menu{
    display: none!important;
}
@media (max-width: 500px ) {
    .Toolbar{
        display: none;
    }
    .Menu{
        width: 100%;
        padding: 8px;
        display: flex!important;
        justify-content: space-between;
    }
}