
.Button{
    margin: 0 16px 0 16px!important;
}

.Toolbar{
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 100%;
}
.Menu{
    display: none!important;
}
@media (max-width: 500px ) {
    .Toolbar{
        display: none;
    }
    .Menu{
        display: block!important;
    }
}