.RestaurantView{
    overflow-x: hidden;
    overflow-y: hidden;
    border: solid 4px #aaa!important;
    max-width: 900px;
}
.Tile{
    padding: 0!important;
    margin-bottom: -5px!important;
    border: 0!important;
}
