.RestaurantViewContainer{
    overflow-x: auto;
    display: flex!important;
    flex-direction: row!important;
    justify-content: center!important;
    padding: 16px!important;
}
.ReservationControlsContainer{
    display: flex!important;
    flex-direction: column!important;
    justify-content: flex-start!important;
    align-items: center!important;
    padding: 16px!important;
}
@media(max-width: 500px){
    .RestaurantViewContainer{
        flex-direction: column!important;
        justify-content: flex-start!important;
    }
}